$footer-height: 140px;

.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: $footer-height;
  justify-content: center;
  margin-top: 20px;
  
  .copyright {
    align-self: flex-end;
  }

  .footer-logo {
    height: 45px;
    margin: 5px;
  }

  .footer-text {
    color: $white;
    margin: 15px;
  }
}
