
.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  
  .copyright {
    align-self: flex-end;
  }

  .footer-logo {
    height: 45px;
    margin: 5px;
  }

  .footer-text {
    color: white;
    margin: 5px;
  }
}
