$nav-height: 90px;

.navbar {
	align-items: center;
	background-color: #FFF;
	box-shadow: 0 10px 20px $grey;
	display: flex;
	height: $nav-height;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	span {
		margin: 20px;
	}
}

.site-logo {
	display: flex;
	height: 25px;
	margin: 20px;
}
