$tech-height: 450px;
$tech-width: 300px;
$tech-logo-size: 100px;

.tech-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 10%;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: $text-medium;
  height: $tech-height;
  margin: 25px;
  padding: 25px;
  position: relative;
  text-align: center;
  width: $tech-width;

  &::before {
    border-color: $green;
    border-radius: 10px;
    border-style: solid;
    content: '';
    display: flex;
    font-size: $text-medium;
    height: $tech-height;
    left: -20px;
    position: absolute;
    top: -20px;
    width: $tech-width;
    z-index: -1;
  }

  .icon {
    block-size: 100px;
    display: flex;
    height: 100px;
    margin: 5px auto 5px auto;
    width: 100px;
  }

  .t {
    display: flex;
    font-size: $text-medium;
    margin: 20px;
  }

  .release {
    display: flex;
    font-size: $text-medium;
    margin: 20px;
    text-align: center;
  }

  .description {
    display: flex;
    font-size: $text-medium;
    line-height: 20px;
    margin: 25px;
    text-align: center;
  }
}
