$tech-height: 400px;
$tech-width: 300px;
$tech-logo-size: 100px;

.tech {
  background-color: $green;
  border-radius: 10px;
  display: block;
  font-size: $text-medium;
  height: $tech-height;
  margin: 80px;
  padding: 25px;
  position: relative;
  text-align: center;
  width: $tech-width;

  &::before {
    border-color: $green;
    border-radius: 10px;
    border-style: solid;
    content: '';
    display: block;
    font-size: $text-medium;
    height: $tech-height;
    left: -20px;
    position: absolute;
    top: -20px;
    width: $tech-width;
    z-index: -1;
  }

  .icon {
    display: block;
    block-size: 100px;
    height: 100px;
    margin: 5px auto 5px auto;
    width: 100px;
  }

  .t {
    display: block;
    font-size: $text-medium;
    margin: 20px;
  }

  .release {
    display: block;
    font-size: $text-medium;
    margin: 20px;
    text-align: center;
  }

  .description {
    margin: 25px;
    display: block;
    font-size: $text-medium;
    line-height: 20px;
    text-align: center;
  }
}
