$title-decoration-height: 90px;
$title-decoration-width: 100px;

.title {
	block-size: $text-big;
  display: flex;
  font-size: $text-big;
  position: relative;
  margin: 80px 0 40px 10%;

  &:first-of-type {
    margin: $nav-height+80px 0 40px 10%;
  }

  &::before {
    background: url(assets/triangle.svg) no-repeat;
    content: '';
    height: $title-decoration-height;
    left: -50px;
    position: absolute;
    top: -40px;
    width: $title-decoration-width;
    z-index: -1;
  }
}
