<div>
  <p>Your rent, created at <%= @rent.created_at %>, which started at <%= @rent.from %> and ended today, <%= @rent.to %>.</p>
  <p>Please return the book as soon as possible. Thank you.</p>
</div>
